* {
  margin: 0;
  font-family: work sans;
}
.button-primary {
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  background-color: #ffffff;
  padding: 20px 25px;
  border-radius: 5px;
  border-style: none;
}
/* Header section */
header {
  height: 808px;
  width: 100%;
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
}
.header-container {
  padding: 216px 700px 0 150px;
  text-align: Right;
  width: 480px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
}
.header-description {
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 32px;
}
/* -----Main section----- */
/* failure section */
.failure-section {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 131px 230px 130px 120px;
}
.failure-list-container ul{
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-type: none;
  

}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.failure-description {
  color: #444343;
  margin-top: 24px;
  margin-bottom: 16px;
}
.failure-list {
  color: #444343;
}
.checkmark{
  color: #005fac;
}
/* plan section */
.section {
  text-align: center;
  margin: 0 180px 130px 180px;
}
.plan-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 136px 0;
}
.plan-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-bottom: 16px;
  margin-top: 20px;
}
.plan-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
/* always keep positive mindset section */
.mindset {
  background-image: url(../images/gradient1.png), url(../images/watch.png);
  background-repeat: no-repeat;
}
.mindset-container {
  padding: 55px 450px 55px 60px;
  text-align: left;
}
.mindset-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 24px;
}
/* Time management section */
.time-management{
  background-image: url(../images/time1.jpg);
  background-repeat: no-repeat;
  margin-top: 100px;
}
.time-management .section-title{
  color: orangered;
  padding-top: 100px;
  padding-bottom: 200px;
}
.time-management-tips{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.tips-title{
  font-weight: 600;
  font-size: 25px;
  
  color: orangered;
}
.tips-description{
  font-weight: 500;
  font-size: 18px;
  color: purple;
}

/* -----Footer section----- */

.footer-section {
  display: flex;
  gap: 200px;
  padding: 130px 180px;
  background: #151414;
}
.future-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}

.future-description {
  color: #ffffff;
  margin-bottom: 16px;
}
.contact{
  margin-top: 24px;
}
.icons{
  margin-top: 32px;
  display: flex;
  gap: 17px;
}

.subscribe-title {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
.button-subscribe{
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #005fac;
  padding: 20px 30px;
  border-radius: 8px;
} 

input[type="email"]{
  height: 50px;
  width:max-content;
  color: #f3f3f3;
  background: #151414;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 16px;
}
